<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div class="media">
   <div media="body">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Party type</th>
          <th>Case number</th>
          <th>Signup date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.party_type %></td>
            <td><%= user.case_number %></td>
            <td><%= user.signup_date %></td>
            <td><%= link_to 'Show', user, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-mini' %></td>
            <td><%= link_to 'Destroy', user, method: :delete, class: 'btn btn-mini', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New User', new_user_path %>
